.banner {
  @include padding(rem(30));

  @include breakpoint('medium') {
    @include padding(rem(30));
  }

  @include breakpoint('large') {
    @include padding(rem(50) rem(80));
  }

  img {
    max-width: 100%!important;
  }

  &--bottom {
    padding-top: 0;

    @include breakpoint('medium') {
      padding-top: rem(30);
    }

    @include breakpoint('large') {
      padding-top: rem(50);
    }
  }

  &__content {
    @include size(100% rem(50));
    background: #000;

    @include breakpoint('medium') {
      @include size(100% rem(120));
    }
  }
}

.article-top-banner {
  @include padding(null null rem(30));

  img {
    width: 100%;
    max-width: 100%!important;
  }
}

.article-bottom-banner {
  @include padding(rem(30) null null);

  img {
    width: 100%;
    max-width: 100%!important;
  }
}
