.change {
  @include position(relative, null null null null);
  @include size(100% auto);
  @include margin(null null rem(60));
  background: $change-bg;

  @include breakpoint('medium') {
    height: rem(530);
    margin-bottom: 0;
    background: transparent;
  }

  @include breakpoint('large') {
    @include size(100% rem(700));
  }

  &__wrapper {
    @include position(relative, null null null null);
    @include size(100%);

    @include breakpoint('medium') {
      @include size(calc(100% - 40px) 100%);
      margin-left: rem(40);
      background: $change-bg;
    }

    @include breakpoint('large') {
      @include size(calc(100% - 80px) 100%);
      margin-left: rem(80);
    }
  }

  &__category {
    display: block;
    @include padding(rem(50) rem(50) rem(60));

    font-family: $mono;
    font-size: rem(13);
    color: $change-text-title;

    @include breakpoint('medium') {
      display: none;
    }
  }

  &__data {
    @include size(100% auto);
    @include padding(0 rem(50) rem(60));
    box-sizing: border-box;

    @include breakpoint('small-landscape') {
      padding-top: rem(50)
    }

    @include breakpoint('medium') {
      @include position(absolute, calc(50% + 20px) null null calc(50% + -40px));
      @include transform(translate(-50%, -50%));
      @include size(calc(50%) auto);
      @include padding(0);
    }

    &__category {
      display: none;
      @include padding(null null rem(25));

      font-family: $mono;
      font-size: rem(13);
      color: $change-text-title;

      @include breakpoint('medium') {
        display: block;
      }

      @include breakpoint('large') {
        @include padding(null null rem(30));

        font-size: rem(16);
      }
    }

    &__title {
      font-family: $platin-semibold;
      font-size: rem(24);
      line-height: rem(26);
      color: $change-text-title;

      @include breakpoint('small-landscape') {
        font-size: rem(29);
        line-height: rem(32);
      }

      @include breakpoint('large') {
        font-size: rem(54);
        line-height: rem(58);
      }
    }

    &__description {
      @include padding(rem(30) null);

      font-family: $platin;
      font-size: rem(16);
      line-height: rem(21);
      color: $change-text-desc;
    }

    &__author {
      font-family: $mono;
      font-size: rem(11);;
      color: $change-text-desc;
    }
  }

  &__dots {
    @include position(absolute, null null rem(-30) null);
    @include size(calc(100% - 60px) rem(60));
    @include margin(null rem(30));
    box-sizing: border-box;
    background: $change-dots;

    @include breakpoint('medium') {
      @include size(rem(170) rem(60));
      @include margin(0);
      left: rem(-40);
      bottom: rem(30);
    }

    @include breakpoint('large') {
      @include size(rem(200) rem(75));
      left: rem(-80);
      bottom: rem(50);
    }

    &__actions {
      @include position(relative, null null null);
      @include size(rem(60));

      &:before {
        content: '';
        display: block;
        @include position(absolute, rem(30) null null rem(10));
        @include size(rem(40) rem(1));
        background: white;
        @include transform(rotate(-45deg));
      }

      &__current {
        @include position(absolute, rem(10) null null rem(10));

        font-family: $roboto;
        font-weight: bold;
        font-size: rem(13);
        color: white;
      }

      &__total {
        @include position(absolute, null rem(10) rem(10) null);

        font-family: $roboto;
        font-weight: bold;
        font-size: rem(12);
        color: white;
      }
    }

    &__btn {
      display: block;
      @include size(rem(20) rem(10));
      background: $change-dots-active;

      &--inactive {
        background: $change-dots-inactive;
      }
    }

    &__next {
      @include position(absolute, rem(15) rem(15) null null);
    }

    &__prev {
      @include position(absolute, rem(15) rem(60) null null);
    }
  }
}

.change-slider {

  @include breakpoint('medium') {
    display: none;
  }

  &__mobile {
    &__list {
      @include padding(null rem(20));
      @include clearfix;

      &__item {
        @include size(100% rem(180));
      }
    }

    &__box {
      @include position(relative, null null null null);
      @include size(100%);
      @include padding(rem(30));
      border-right: rem(1) solid $herospace-slider-border;
      border-left: rem(1) solid $herospace-slider-border;
      box-sizing: border-box;

      &__category {
        font-family: $mono;
        font-size: rem(13);
        color: $change-slider-category;
      }

      &__time {
        @include padding(rem(2) null null null);
        display: block;

        font-family: $platin;
        font-style: italic;
        font-weight: 100;
        font-size: rem(11);
        color: $change-slider-time;
      }

      &__extra {
        @include position(absolute, null null rem(30) rem(30));
        @include size(calc(100% - 60px) auto);

        &__text {
          font-family: $platin;
          font-size: rem(16);
          line-height: rem(18);
          color: $change-slider-category;

          @include breakpoint('small-landscape') {
            font-size: rem(18);
            line-height: rem(20);
          }
        }
      }
    }

    &__dots {
      @include size(100% rem(50));
      @include padding(rem(14) null null null);
      box-sizing: border-box;

      text-align: center;

      &__link {
        display: inline-block;
        @include size(rem(7));
        @include margin(null rem(3));
        background: $herospace-slider-bg;
        border-radius: 100%;

        &--active {
          background: $herospace-slider-dots-active;
        }
      }
    }
  }
}

.change-articles {
  display: none;
  padding-left: rem(40);

  @include breakpoint('large') {
    padding-left: rem(80);
  }

  @include breakpoint('medium') {
    display: block;
    @include clearfix;
  }

  .change-slider__mobile__box {
    float: left;
    @include size(30% 25vw);

    &:nth-child(3) {
      display: none;

      @include breakpoint('large') {
        display: block;
      }
    }
    @include breakpoint('large') {
      @include size(22% rem(261));
    }
  }
}
