.change {
  @include size(100% auto);
  @include margin(null null rem(60));
  background: $change-bg;

  &__wrapper {
    @include position(relative, null null null null);
    @include size(100%);
  }

  &__category {
    display: block;
    @include padding(rem(50) rem(50) rem(60));

    font-family: $mono;
    font-size: rem(13);
    color: $change-text-title;
  }

  &__data {
    @include size(100% auto);
    @include padding(rem(50) rem(50) rem(60));
    box-sizing: border-box;

    &__title {
      font-family: $platin-semibold;
      font-size: rem(29);
      line-height: rem(32);
      color: $change-text-title;
    }

    &__description {
      @include padding(rem(30) null);

      font-family: $platin;
      font-size: rem(16);
      line-height: rem(21);
      color: $change-text-desc;
    }

    &__author {
      font-family: $mono;
      font-size: rem(11);;
      color: $change-text-desc;
    }
  }

  &__dots {
    @include position(absolute, null null rem(-30) null);
    @include size(calc(100% - 60px) rem(60));
    @include margin(null rem(30));
    box-sizing: border-box;
    background: $change-dots;

    &__btn {
      display: block;
      @include size(rem(20) rem(10));
      background: $change-dots-active;

      &--inactive {
        background: $change-dots-inactive;
      }
    }

    &__next {
      @include position(absolute, rem(15) rem(15) null null);
    }

    &__prev {
      @include position(absolute, rem(15) rem(60) null null);
    }
  }
}

.change-slider {
  &__mobile {
    &__list {
      @include padding(null rem(20));
      @include clearfix;

      &__item {
        @include size(100% rem(180));
      }
    }

    &__box {
      @include position(relative, null null null null);
      @include size(100%);
      @include padding(rem(30));
      border-right: rem(1) solid $herospace-slider-border;
      border-left: rem(1) solid $herospace-slider-border;
      box-sizing: border-box;

      &__category {
        font-family: $mono;
        font-size: rem(13);
        color: $change-slider-category;
      }

      &__time {
        @include padding(rem(2) null null null);
        display: block;

        font-family: $platin;
        font-style: italic;
        font-weight: 100;
        font-size: rem(11);
        color: $change-slider-time;
      }

      &__extra {
        @include position(absolute, null null rem(30) rem(30));

        &__text {
          font-family: $platin;
          font-size: rem(18);
          color: $change-slider-category;
        }
      }
    }

    &__dots {
      @include size(100% rem(50));
      @include padding(rem(14) null null null);
      box-sizing: border-box;

      text-align: center;

      &__link {
        display: inline-block;
        @include size(rem(7));
        @include margin(null rem(3));
        background: $herospace-slider-bg;
        border-radius: 100%;

        &--active {
          background: $herospace-slider-dots-active;
        }
      }
    }
  }
}
