.domingo {
  &__mobile {
    @include breakpoint('medium') {
      display: none;
    }

    &__header {
      @include padding(rem(30) rem(30) null);

      &__content {
        @include position(relative, null null null null);
        @include size(100% calc(100vw - 60px));
        @include padding(rem(30));
        background: url($images_dir + 'domingo.jpg') center center no-repeat;
        background-size: cover;
        box-sizing: border-box;
      }

      &__title {
        font-family: $mono-regular;
        font-size: rem(32);
        letter-spacing: rem(3);
        color: $domingo-text;

        @include breakpoint('small-landscape') {
          font-size: rem(45);
        }
      }

      &__description {
        @include position(absolute, null null 0 0);
        @include size(100% auto);
        @include padding(rem(30));
        box-sizing: border-box;

        font-family: $platin;
        font-size: rem(14);
        line-height: rem(17);
        color: $domingo-text;

        @include breakpoint('small-landscape') {
          font-size: rem(17);
          line-height: rem(21);
        }
      }
    }

    &__wrapper {
      background: $domingo-bg;
      @include padding(null rem(30));

      &__text {
        @include padding(rem(30) rem(30) rem(60));

        font-family: $platin;
        font-style: italic;
        font-weight: 100;
        font-size: rem(18);
        line-height: rem(21);
        color: $domingo-wrapper-text;

        @include breakpoint('small-landscape') {
          font-size: rem(22);
          line-height: rem(27);
        }
      }
    }

    &__email {
      @include position(relative, rem(-30) null null null);
      @include padding(rem(30));
      @include margin(null rem(30));
      background: $domingo-wrapper-email;
    }
  }

  &__desktop {
    @include clearfix;
    padding-top: rem(20);
    display: none;

    @include breakpoint('medium') {
      display: block;
    }

    @include breakpoint('large') {
      padding-top: 0;
    }

    &__content {
      float: left;
      @include size(66.66% rem(210));
      @include padding(rem(40) rem(40) rem(40) rem(180));
      box-sizing: border-box;

      @include breakpoint('medium') {
        background: white url($images_dir + 'doming-desktop.jpg') 0 0 no-repeat;
        background-size: auto rem(280);
      }

      @include breakpoint('large') {
        @include size(66.66% rem(280));
        @include padding(rem(50) rem(80) rem(80) 30%);
      }

      &__title {
        font-family: $mono-regular;
        font-size: rem(40);
        letter-spacing: rem(3);
        color: #c7c7c7;

        @include breakpoint('large') {
          font-size: rem(50);
        }
      }

      &__description {
        @include padding(rem(15) null null);
        font-family: $platin;
        font-size: rem(16);
        line-height: rem(19);
        color: #333;
      }
    }

    &__data {
      float: left;
      @include size(33.33% rem(210));
      @include padding(rem(30) null null null);
      box-sizing: border-box;

      @include breakpoint('large') {
        @include padding(rem(80) null null null);
      }

      &__text {
        @include padding(null rem(60) rem(25) rem(15));
        text-align: left;

        font-family: $platin;
        font-size: rem(20);
        line-height: rem(22);
        font-style: italic;
        color: #222325;

        @include breakpoint('large') {
          @include padding(null rem(160) rem(25) rem(15));
        }
      }

      &__input {
        @include size(90% rem(36));
        @include margin(null 10% null null);
        background: #59c1c0;

        @include breakpoint('large') {
          @include size(75% rem(36));
          @include margin(null 25% null null);
        }
      }
    }
  }
}
