.domingo {

  &--grey {
    .domingo__desktop__content {
      background-color: #f6f6f6;
    }
  }

  &__mobile {
    @include breakpoint('medium') {
      display: none;
    }

    &__header {
      @include padding(rem(30) rem(30) null);

      &__content {
        @include position(relative, null null null null);
        @include size(100% calc(100vw - 60px));
        @include padding(rem(30));
        background: url($images_dir + 'domingo.jpg') center center no-repeat;
        background-size: cover;
        box-sizing: border-box;
      }

      &__title {
        font-family: $mono-regular;
        font-size: rem(32);
        letter-spacing: rem(3);
        color: $domingo-text;

        @include breakpoint('small-landscape') {
          font-size: rem(45);
        }
      }

      &__description {
        @include position(absolute, null null 0 0);
        @include size(100% auto);
        @include padding(rem(30));
        box-sizing: border-box;

        font-family: $platin;
        font-size: rem(14);
        line-height: rem(17);
        color: $domingo-text;

        @include breakpoint('small-landscape') {
          font-size: rem(17);
          line-height: rem(21);
        }
      }
    }

    &__wrapper {
      background: $domingo-bg;
      @include padding(null rem(30));

      &__text {
        @include padding(rem(30) rem(30) rem(60));

        font-family: $platin;
        font-style: italic;
        font-weight: 100;
        font-size: rem(18);
        line-height: rem(21);
        color: $domingo-wrapper-text;

        @include breakpoint('small-landscape') {
          font-size: rem(22);
          line-height: rem(27);
        }
      }
    }

    &__email {
      @include position(relative, rem(-30) null null null);
      @include padding(rem(30) rem(30) rem(10));
      @include margin(null rem(30));
      background: $domingo-wrapper-email;

      .mymail-form-info {
        &.error {
          display: none!important;
        }
      }

      .mymail-form-info {
        display: none;
      }

      .mymail-form-fields {
        @include clearfix;

        .mymail-email-wrapper {
          float: left;
          @include size(calc(100% - 36px) rem(36));

          input {
            @include size(100% rem(36));
            @include padding(null rem(15));
            border: 0 none;
            background: #59c1c0;

            font-family: $mono;
            font-size: rem(14);
            line-height: rem(36);
            font-weight: 100;
            color: white;

            &:focus {
              outline: 0 none;
            }

            &::-webkit-input-placeholder {
              color: white;
            }
            &:-moz-placeholder {
              color: white;
            }
            &::-moz-placeholder {
              color: white;
            }
            &:-ms-input-placeholder {
              color: white;
            }
          }
        }

        .mymail-submit-wrapper {
          float: left;
          @include position(relative, null null null null);
          @include size(rem(36));
          @include margin(0);

          &:before {
            @include position(absolute, rem(2) null null rem(2));
            display: block;
            content: "\e904";
            font-family: 'aconcagua' !important;
            font-size: rem(32);
            color: white;
            pointer-events: none;
          }

          input {
            @include size(rem(36));
            border: 0 none;
            background: transparent;
            text-indent: rem(-9999);
          }
        }
      }
    }
  }

  &__desktop {
    @include clearfix;
    padding-top: rem(20);
    display: none;

    @include breakpoint('medium') {
      display: block;
    }

    @include breakpoint('large') {
      padding-top: 0;
    }

    &__content {
      float: left;
      @include size(66.66% rem(210));
      @include padding(rem(40) rem(40) rem(40) rem(180));
      box-sizing: border-box;

      @include breakpoint('medium') {
        background: white url($images_dir + 'domingo-desktop.png') 0 0 no-repeat;
        background-size: auto rem(280);
      }

      @include breakpoint('large') {
        background-position: rem(-110) 0;
        @include size(66.66% rem(280));
        @include padding(rem(50) rem(80) rem(80) 33.33%);
      }

      &__title {
        font-family: $mono-regular;
        font-size: rem(40);
        letter-spacing: rem(3);
        color: #c7c7c7;

        @include breakpoint('medium') {
          display: none;
        }

        @include breakpoint('large') {
          display: block;
          font-size: rem(50);
        }
      }

      &__description {
        @include padding(rem(15) null null);
        font-family: $platin;
        font-size: rem(16);
        line-height: rem(19);
        color: #333;

        @include breakpoint('medium') {
          display: none;
        }

        @include breakpoint('large') {
          display: block;
        }
      }
    }

    &__data {
      float: left;
      @include size(33.33% rem(210));
      @include padding(rem(30) null null null);
      box-sizing: border-box;

      @include breakpoint('large') {
        @include padding(rem(80) null null null);
      }

      &__text {
        @include padding(null rem(60) rem(25) rem(15));
        text-align: left;

        font-family: $platin;
        font-size: rem(20);
        line-height: rem(22);
        font-style: italic;
        color: #222325;

        @include breakpoint('large') {
          @include padding(null rem(160) rem(28) rem(33));
        }
      }

      &__input {
        @include size(90% rem(36));
        @include margin(null 10% null null);
        background: #59c1c0;

        @include breakpoint('large') {
          @include size(75% rem(36));
          @include margin(null 25% null null);
        }

        .mymail-form {
          &.has-errors {
            .mymail-form-fields {
              .mymail-email-wrapper {
                input {
                  border: 1px solid #f00;
                  border-left: 0;
                }
              }
            }
          }
        }
        .mymail-form-info {
          &.error {
            display: none!important;
          }
        }

        .mymail-form-info {
          display: none;
        }

        .mymail-form-fields {
          @include clearfix;

          .mymail-email-wrapper {
            float: left;
            @include size(100% rem(36));
            @include margin(0);

            input {
              @include size(100% rem(36));
              @include padding(null rem(33));
              border: 0 none;
              background: #59c1c0;

              font-family: $mono;
              font-size: rem(14);
              line-height: rem(36);
              font-weight: 100;
              color: white;

              &:focus {
                outline: 0 none;
              }

              &::-webkit-input-placeholder {
                color: white;
              }
              &:-moz-placeholder {
                color: white;
              }
              &::-moz-placeholder {
                color: white;
              }
              &:-ms-input-placeholder {
                color: white;
              }
            }

            &.error {
              input {
                outline: 0 none;
              }
            }
          }

          .mymail-submit-wrapper {
            float: left;
            @include position(relative, null null null null);
            @include size(rem(36));
            @include margin(0);
            @include position(absolute, null rem(25) null null);

            &:before {
              @include position(absolute, rem(2) null null rem(2));
              display: block;
              content: "\e904";
              font-family: 'aconcagua' !important;
              font-size: rem(32);
              color: white;
              pointer-events: none;
            }

            input {
              @include size(rem(36));
              border: 0 none;
              background: transparent;
              text-indent: rem(-9999);
            }
          }
        }
      }
    }
  }
}
