.footer {
  @include position(relative, null null null null);
  @include padding(rem(30));
  background: $footer-bg;

  &:before {
    content: '';
    display: block;
    @include position(absolute, null rem(30) rem(30) null);
    @include size(rem(30));
    background: $footer-arrow;
  }

  &__down {
    @include clearfix;

    &__copyright {
      font-size: rem(13);
      color: rgba(255, 255, 255, 0.3);
    }

    &__social {
      @include padding(rem(15) null null);

      &__list {
        @include clearfix;

        &__item {
          float: left;
          @include padding(null rem(20) null null);

          a {
            display: block;
            @include size(rem(25));
            background: white;
          }
        }
      }
    }
  }
}
