.header {
  position: fixed;
  z-index: 100;
  background: rgba(0, 0, 0, 0.2);
  @include size(100% rem(50));

  @include breakpoint('large') {
    @include size(100% rem(80));
  }

  @include breakpoint('extra-large') {
    max-width: rem(1200);
    left: 50%;
    @include transform(translateX(-50%));
  }

  &__lg {
    display: block;
    @include position(absolute, 0 null null 0);
    @include size(rem(80));
    background: $header-lg url($images_dir + 'lg.png') center center no-repeat;
    background-size: rem(40);
    z-index: 10;
    text-decoration: none;

    @include breakpoint('medium') {
      @include size(rem(170));
      background-position: rem(20) rem(20);
      background-size: rem(80);
    }

    @include breakpoint('large') {
      @include size(rem(200));
      background-position: rem(35) rem(35);
      background-size: rem(80);
    }

    #simpleweather-widget {
      display: none;
      @include position(absolute, null null 0 0);
      width: 100%!important;
      padding-left: rem(35)!important;
      padding-right: rem(35)!important;
      padding-bottom: rem(20)!important;
      box-sizing: border-box;
      @include clearfix;

      @include breakpoint('large') {
        display: block;
      }

      h3 {
        float: right;
        width: calc(100% - 40px);

        font-family: $mono;
        font-size: rem(11);
        color: white;
      }

      #current_weather_image {
        float: left;
        clear: inherit;
        width: rem(40)!important;
        height: auto!important;
        padding-right: rem(10);
        box-sizing: border-box;
      }

      #current_temperature {
        float: left;
        @include margin(0);
        width: calc(100% - 40px);

        font-family: $mono;
        font-size: rem(11);
        color: white;
      }

      #current_weather {
        display: none;
      }
    }
  }

  &__hamb {
    display: block;
    @include position(absolute, rem(10) rem(10) null null);
    @include size(rem(30));
    text-decoration: none;

    @include breakpoint('medium') {
      display: none;
    }

    &:before {
      font-size: rem(30);
      color: #1a1a1a;
    }
  }

  &__wrapper {
    @include breakpoint('medium') {
      @include clearfix;
    }
  }

  &__share {
    display: none;
    @include position(absolute, rem(27) null null rem(105));
    @include transition(left 0.3s ease-in-out);
    @include clearfix;

    @include breakpoint('large') {
      display: block;
    }

    &--show {
      left: rem(225);
    }

    &__link {
      float: left;
      @include margin(null null null rem(10));
      @include size(rem(25));
      cursor: pointer;

      &__icon {
        display: block;
        @include position(relative, rem(7) null null rem(5));
        @include size(rem(13) rem(11));
        text-decoration: none;

        &:focus {
          &:before {
            color: #0d0d0d;
          }
        }

        &:before {
          @include position(relative, rem(-7) null null rem(-6));
          font-size: rem(25);
          color: #0d0d0d;
        }
      }
    }

    &__list {
      float: left;

      &__item {
        float: left;
        @include padding(null rem(15) null null);

        a {
          display: block;
          @include position(relative, null null null null);
          @include size(rem(20));
          text-decoration: none;
          color: white;

          &:before {
            font-size: rem(38);
            @include position(absolute, rem(-7) null null rem(-9));
          }
        }
      }
    }
  }

  &__nav {
    display: none;
    float: right;
    @include padding(null rem(30) null null);

    @include breakpoint('medium') {
      display: block;
    }

    @include breakpoint('large') {
      padding-top: rem(15);
      padding-right: rem(50);
    }

    &__list {
      @include clearfix;

      &__item {
        float: left;
        @include margin(rem(5) null);
        border-right: rem(1) solid rgba(46, 46, 46, 0.3);

        &:last-child {
          border-right: 0 none;
        }

        a {
          display: block;
          @include size(auto rem(40));
          @include padding(null rem(30));

          font-family: $mono;
          font-size: rem(14);
          line-height: rem(40);
          text-decoration: none;
          color: white;

          &:hover {
            @include breakpoint('large') {
              color: #59c1c0;
              @include transition(color 0.3s ease-in-out);
            }
          }
        }
      }
    }
  }
}
