.herospace {
  @include position(relative, null null null null);
  @include size(100% rem(530));
  @include margin(null null rem(60));

  @include breakpoint('medium') {
    margin-bottom: 0;
  }

  @include breakpoint('large') {
    @include size(100% rem(700));
    overflow: hidden;
  }

  &--full {
    .herospace__wrapper {
      @include breakpoint('medium') {
        @include size(100% rem(530));
        margin-left: 0;
      }

      @include breakpoint('large') {
        @include size(100% rem(700));
        margin-left: 0;
      }
    }
  }

  &--small {
    @include breakpoint('large') {
      @include size(100% rem(400));
    }

    .herospace__wrapper {
      @include breakpoint('medium') {
        @include size(100% rem(530));
        margin-left: 0;
      }

      @include breakpoint('large') {
        @include size(100% rem(400));
        margin-left: 0;
      }
    }

    .herospace__data__title {
      @include breakpoint('large') {
        padding-top: rem(50);
      }
    }

    .herospace__data__description {
      @include breakpoint('large') {
        padding-top: 0;
        max-width: 60%;
      }
    }

    .article__data__author {
      color: white;
    }
  }

  &__container {
    @include clearfix;
    overflow: hidden;
  }

  &__wrapper {
    display: block;
    float: left;
    @include position(relative, null null null null);
    @include size(100% rem(530));
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    @include breakpoint('medium') {
      @include size(calc(100% - 40px) rem(530));
      margin-left: rem(40);
    }

    @include breakpoint('large') {
      @include size(calc(100% - 80px) rem(700));
      margin-left: rem(80);
    }

    &:focus {
      outline: 0 none;
    }

    &--hover {
      &:before {
        content: '';
        @include size(calc(100%) rem(700));
        background: rgba(0, 0, 0, 0.2);
        @include position(absolute, 0 null null 0);
        @include transition(all 0.3s ease-in-out);

      }

      &:hover {
        @include breakpoint('large') {
          //background: white;
          //background-image: none!important;
          @include transition(all 0.3s ease-in-out);
        }

        &:before {
          background: rgba(0, 0, 0, 0);
        }

        .herospace__data {
          &:before {
            @include breakpoint('large') {
              background: rgba(0, 0, 0, 0.2);
              @include transition(background 0.3s ease-in-out);
            }
          }
        }
        // .herospace__data__category {
        //   @include breakpoint('large') {
        //     color: $change-text-title;
        //     @include transition(color 0.3s ease-in-out);
        //   }
        // }

        // .herospace__data__title {
        //   @include breakpoint('large') {
        //     color: $change-text-title;
        //     @include transition(color 0.3s ease-in-out);
        //   }
        // }

        // .herospace__data__description {
        //   @include breakpoint('large') {
        //     color: $change-text-desc;
        //     @include transition(color 0.3s ease-in-out);
        //   }
        // }
        //
        // .herospace__data__author {
        //   @include breakpoint('large') {
        //     color: $change-text-desc;
        //     @include transition(color 0.3s ease-in-out);
        //   }
        //
        //   &:before {
        //     @include breakpoint('large') {
        //       @include filter(brightness(1) invert(0));
        //       @include transition(all 0.3s ease-in-out);
        //     }
        //   }
        // }
      }
    }
  }

  &__category {
    @include position(absolute, rem(130) null null rem(50));

    font-family: $mono;
    font-size: rem(13);
    color: $herospace-text;

    @include breakpoint('medium') {
      display: none;
    }

    @include breakpoint('large') {
      font-size: rem(20);
    }
  }

  &__data {
    @include position(absolute, null null 0 0);
    @include size(100% auto);
    @include padding(rem(50) rem(50) rem(60));
    box-sizing: border-box;

    @include breakpoint('medium') {
      top: calc(50% + 20px);
      left: calc(50% + -40px);
      bottom: inherit;
      @include transform(translate(-50%, -50%));
      @include size(calc(50%) auto);
      @include padding(0);
    }

    &:before {
      display: none;
      content: '';
      @include position(absolute, rem(63) null null rem(-280));
      @include size(rem(50) rem(1));
      background: rgba(255, 255, 255, 0.2);

      @include breakpoint('large') {
        display: block;
      }
    }

    &__category {
      display: none;
      @include padding(null null rem(25));

      font-family: $mono;
      font-size: rem(13);
      color: $herospace-text;

      @include breakpoint('medium') {
        display: block;
      }

      @include breakpoint('large') {
        @include padding(null null rem(30));

        font-size: rem(20);
      }
    }

    &__title {
      font-family: $platin-semibold;
      font-size: rem(24);
      line-height: rem(26);
      color: $herospace-text;
      text-decoration: none;
      @include transition(color 0.3s ease-in-out);

      @include breakpoint('small-landscape') {
        font-size: rem(29);
        line-height: rem(32);
      }

      @include breakpoint('large') {
        font-size: rem(70);
        line-height: rem(78);
      }

      &:hover {
        @include breakpoint('large') {
          color: $change-text-title;
        }
      }

      &:focus {
        outline: 0 none;
      }
    }

    &__description {
      @include margin(rem(30) null);
      display: block;

      font-family: $platin;
      font-size: rem(16);
      line-height: rem(21);
      color: $herospace-text;
      text-decoration: none;

      &:focus {
        outline: 0 none;
      }
    }

    &__author {
      @include position(relative, null null null null);
      display: block;
      @include padding(null null null rem(25));

      font-family: $mono;
      font-size: rem(11);
      color: $herospace-text;

      &:before {
        @include position(absolute, rem(3) null null 0);
        content: '';
        display: block;
        @include size(rem(13) rem(11));
        background: url($images_dir + 'article-arrow.png') 0 0 no-repeat;
        background-size: contain;
        @include filter(brightness(0) invert(1));
      }
    }
  }

  &__dots {
    @include position(absolute, null null rem(-30) null);
    @include size(calc(100% - 60px) rem(60));
    @include margin(null rem(30));
    box-sizing: border-box;
    background: $herospace-dots;

    @include breakpoint('medium') {
      @include size(rem(170) rem(60));
      @include margin(0);
      bottom: rem(30);
    }

    @include breakpoint('large') {
      @include size(rem(200) rem(75));
      bottom: rem(50);
    }

    &__actions {
      @include position(relative, null null null);
      @include size(rem(60));

      @include breakpoint('large') {
        top: rem(10);
        left: rem(10);
      }

      &:before {
        content: '';
        display: block;
        @include position(absolute, rem(30) null null rem(10));
        @include size(rem(40) rem(1));
        background: white;
        @include transform(rotate(-45deg));
      }

      &__current {
        @include position(absolute, rem(10) null null rem(10));

        font-family: $roboto;
        font-weight: bold;
        font-size: rem(13);
        color: white;
      }

      &__total {
        @include position(absolute, null rem(10) rem(10) null);

        font-family: $roboto;
        font-weight: bold;
        font-size: rem(12);
        color: white;
      }
    }

    &__btn {
      display: block;
      @include size(rem(20) rem(10));
      background: url($images_dir + 'submit.png') center center no-repeat;
      background-size: contain;

      &.slick-disabled {
        opacity: 0.5;
        cursor: default;
      }
    }

    &__next {
      @include position(absolute, rem(15) rem(15) null null);

      @include breakpoint('large') {
        top: rem(20);
        right: rem(20);
      }
    }

    &__prev {
      @include position(absolute, rem(15) rem(60) null null);
      @include transform(rotate(-180deg));

      @include breakpoint('large') {
        top: rem(20);
      }
    }
  }
}

.herospace-slider {
  background: $herospace-slider-bg;

  @include breakpoint('medium') {
    display: none;
  }

  &__mobile {
    &__list {
      @include padding(null rem(20));
      @include clearfix;
      overflow: hidden;

      &__item {
        float: left;
        @include size(100% rem(180));

        &:focus {
          outline: 0 none;
        }

        &__link {
          @include size(100%);
          display: block;
          text-decoration: none;

          &:focus {
            outline: 0 none;
          }
        }
      }
    }

    &__box {
      @include position(relative, null null null null);
      @include size(100%);
      @include padding(rem(30));
      border-right: rem(1) solid $herospace-slider-border;
      border-left: rem(1) solid $herospace-slider-border;
      box-sizing: border-box;

      &:before {
        content: '';
        display: block;
        @include position(absolute, null rem(30) rem(30) null);
        @include size(rem(13) rem(11));
        background: url($images_dir + 'article-arrow.png') 0 0 no-repeat;
        background-size: contain;
      }

      &__category {
        font-family: $mono;
        font-size: rem(13);
        color: $herospace-slider-text-color;
      }

      &__title {
        @include padding(rem(15) null null null);

        font-family: $platin;
        font-style: italic;
        font-weight: 100;
        font-size: rem(18);
        line-height: rem(20);
        color: $herospace-slider-text-color;

        @include breakpoint('small-landscape') {
          font-size: rem(20);
          line-height: rem(22);
        }
      }

      &__author {
        @include position(absolute, null null rem(30) rem(30));

        font-family: $mono;
        font-size: rem(11);
        color: $herospace-slider-text-color;
      }
    }

    &__dots {
      @include size(100% rem(50));
      @include padding(rem(14) null null null);
      background: $herospace-slider-border;
      box-sizing: border-box;

      ul {
        @include padding(rem(5) null null);
        text-align: center;

        li {
          display: inline-block;

          button {
            display: block;
            @include size(rem(7));
            @include margin(null rem(3));
            @include padding(0);
            border: 0 none;
            background: $herospace-slider-bg;
            border-radius: 100%;
            text-indent: rem(-9999);

            &:focus {
              outline: 0 none;
            }
          }

          &.slick-active {
            button {
              background: $herospace-slider-dots-active;
            }
          }
        }
      }
    }
  }
}

.herospace-articles {
  @include clearfix;
  background: $herospace-slider-bg;
  display: none;

  @include breakpoint('medium') {
    display: block;
  }

  .herospace-slider__mobile__box {
    float: left;
    @include size(25% 25vw);
    border-left: 0 none;
    text-decoration: none;

    @include breakpoint('large') {
      @include size(calc(33.33vw - 87px) rem(261));
      @include padding(rem(33));
    }

    &:nth-child(3) {
      @include breakpoint('large') {
        border-right: 0 none;
      }
    }

    &:nth-child(4) {
      border-right: 0 none;

      @include breakpoint('large') {
        display: none;
      }
    }

    .herospace-slider__mobile__box__author {
      @include breakpoint('large') {
        left: rem(33);
      }
    }
  }
}

.herospace-banner {
  display: none;
  float: left;
  @include size(rem(261));
  background: #c7c7c7;

  @include breakpoint('large') {
    display: block;
  }
}
