.list {
  &__content {
    @include breakpoint('medium') {
      @include clearfix;
      @include padding(null rem(25));
    }

    @include breakpoint('large') {
      @include padding(null rem(55));
    }

    @include breakpoint('extra-large') {
      @include padding(null 0);
    }

    &__item {
      @include breakpoint('medium') {
        float: left;
        width: 50%;
      }

      @include breakpoint('large') {
        width: 33.33%;
      }
    }
  }
}
