.news {
  @include position(relative, null null null);

  @include breakpoint('medium') {
    padding-bottom: rem(30);
  }

  @include breakpoint('large') {
    padding-bottom: rem(130);
  }

  &__content {
    @include breakpoint('medium') {
      @include position(relative, null null null);
    }

    &__box {
      &__image {
        @include size(100% 100vw);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        @include breakpoint('medium') {
          @include size(calc(100% - 60px) rem(500));
          @include margin(null rem(30));
        }

        @include breakpoint('large') {
          @include size(calc(100% - 160px) rem(700));
          @include margin(null rem(80));
        }
      }

      &__data {
        @include position(relative, null null null null);
        @include size(calc(100% - 60px) calc(100vw - 60px));
        @include margin(rem(30) rem(30) null);
        @include padding(rem(30));
        box-sizing: border-box;
        background: #1a1a1a;

        @include breakpoint('medium') {
          @include position(absolute, null 0 rem(-30) null);
          @include size(60% rem(250));
        }

        @include breakpoint('large') {
          @include position(absolute, null 0 rem(-80) null);
          @include size(60% rem(320));
          @include padding(rem(50));
          @include margin(0);
        }

        &__title {
          font-family: $platin-semibold;
          font-size: rem(24);
          line-height: rem(28);
          color: white;

          @include breakpoint('small-landscape') {
            font-size: rem(28);
            line-height: rem(30);
          }
        }

        &__description {
          @include padding(rem(15) null null);

          font-family: $platin;
          font-size: rem(13);
          line-height: rem(17);
          color: white;

          @include breakpoint('small-landscape') {
            @include padding(rem(30) null null);

            font-size: rem(17);
            line-height: rem(25);
          }

          @include breakpoint('large') {
            width: 60%;
          }
        }

        &__author {
          @include position(absolute, null null rem(30) rem(30));
          font-family: $mono;
          font-size: rem(11);
          color: white;

          @include breakpoint('large') {
            @include position(absolute, null null rem(50) rem(50));
          }
        }
      }
    }
  }

  &__dots {
    @include position(absolute, calc(50% - 15px) null null null);
    @include size(calc(100% - 60px) rem(60));
    @include margin(null rem(30));
    box-sizing: border-box;
    background: $change-dots;

    @include breakpoint('medium') {
      top: inherit;
      bottom: rem(60);
      @include size(rem(170) rem(60));
    }

    @include breakpoint('large') {
      @include size(rem(200) rem(75));
      bottom: rem(165);
      @include margin(0);
    }

    &__actions {
      @include position(relative, null null null);
      @include size(rem(60));

      &:before {
        content: '';
        display: block;
        @include position(absolute, rem(30) null null rem(10));
        @include size(rem(40) rem(1));
        background: white;
        @include transform(rotate(-45deg));
      }

      &__current {
        @include position(absolute, rem(10) null null rem(10));

        font-family: $roboto;
        font-weight: bold;
        font-size: rem(13);
        color: white;
      }

      &__total {
        @include position(absolute, null rem(10) rem(10) null);

        font-family: $roboto;
        font-weight: bold;
        font-size: rem(12);
        color: white;
      }
    }

    &__btn {
      display: block;
      @include size(rem(20) rem(10));
      background: $change-dots-active;

      &--inactive {
        background: $change-dots-inactive;
      }
    }

    &__next {
      @include position(absolute, rem(15) rem(15) null null);
    }

    &__prev {
      @include position(absolute, rem(15) rem(60) null null);
    }
  }
}
