.article {
  @include padding(0 rem(25));

  @include breakpoint('medium') {
    @include clearfix;
    @include padding(rem(50));
  }

  &__left {
    @include breakpoint('medium') {
      float: left;
      @include size(rem(250) auto);
    }

    &__time {
      @include padding(null null rem(30));
      text-align: right;

      &__text {
        font-family: $platin;
        font-size: rem(12);
        font-style: italic;
        color: rgba(51, 51, 51, 0.6);
      }
    }

    &__author {
      @include clearfix;

      &__data {
        float: right;
        @include padding(null rem(15) null null);

        text-align: right;

        &__name {
          //@include padding(null null rem(5));

          font-family: $mono;
          font-size: rem(14);
          color: #333;
        }

        &__twitter {
          font-family: $mono;
          font-size: rem(12);
          color: #59c1c0;
          text-decoration: none;

          &:hover {
            @include breakpoint('medium') {
              text-decoration: underline;
            }
          }
        }

        &__email {
          //@include padding(rem(5) null null);
          font-family: $mono;
          font-size: rem(12);
          color: rgba(35, 35, 35, 0.2);
        }
      }

      &__image {
        float: right;
        @include size(rem(40));
        border-radius: 100%;
        overflow: hidden;

        img {
          @include size(100%);
        }
      }
    }

    &__tags {
      @include padding(rem(40) null);

      &__list {
        @include clearfix;

        &__item {
          float: right;

          a {
            font-family: $mono;
            font-size: rem(12);
            color: rgba(35, 35, 35, 0.5);
          }

          span {
            @include padding(null rem(2));
            display: inline-block;

            font-family: $mono;
            font-size: rem(12);
            color: rgba(35, 35, 35, 0.5);
          }

          &:first-child {
            span {
              display: none;
            }
          }
        }
      }
    }

    &__share {
      @include clearfix;
      @include position(relative, null null null null);
      border-top: rem(1) solid #ededed;

      &__link {
        @include position(relative, null null null null);
        float: right;
        @include size(rem(66));
        background: #59c1c0;
        cursor: pointer;

        &:before {
          @include position(absolute, rem(14) null null rem(10));
          content: '';
          @include size(rem(18) rem(15));
          background: url($images_dir + 'article-arrow.png') center center no-repeat;
          background-size: rem(15);
          @include transform(rotate(90deg));
          @include filter(brightness(0) invert(1));
        }

        span {
          display: block;
          @include position(absolute, null null rem(10) 0);
          @include size(100% auto);

          font-family: $mono;
          font-size: rem(11);
          color: white;
          text-align: center;
        }
      }

      .addtoany_shortcode {
        @include position(absolute, rem(80) rem(12) null null);
        opacity: 0;
        @include transition(opacity 0.3s ease-in-out);

        .a2a_button_twitter,
        .a2a_button_facebook,
        .a2a_button_email {
          display: block;
          @include padding(rem(10) rem(10) null);

          span {
            background: transparent!important;
            width: rem(25)!important;
            height: rem(25)!important;

            svg {
              path {
                fill: #1a1a1a;
              }
            }
          }
        }
      }

      &--show {
        .addtoany_shortcode {
          opacity: 1;
        }
      }
    }
  }

  &__center {
    @include padding(rem(40) null null);

    @include breakpoint('medium') {
      float: left;
      @include size(calc(100% - 250px) auto);
      @include padding(0  null null rem(50));
      box-sizing: border-box;
    }

    @include breakpoint('large') {
      @include size(calc(100% - 550px) auto);
      @include padding(0  rem(80) null rem(80));
    }

    h2 {
      @include padding(null null rem(35));
      font-family: $platin-semibold;
      font-size: rem(20);
      line-height: rem(26);
      color: #1a1a1a;
    }

    h3 {
      @include padding(null null rem(35));
      font-family: $platin-semibold;
      font-size: rem(22);
      line-height: rem(28);
      color: #1a1a1a;
    }

    p {
      @include padding(null null rem(25));

      font-family: $platin;
      font-size: rem(18);
      line-height: rem(28);
      color: #1a1a1a;

      strong {
        font-family: $platin-semibold;
      }

      a {
        color: #59c1c0;
      }
    }

    blockquote {
      @include margin(0);
      @include padding(rem(25) rem(33) rem(25) rem(33));

      @include breakpoint('large') {
        @include padding(rem(25) null rem(25) rem(66));
      }

      p {
        @include position(relative, null null null null);

        font-family: $platin;
        font-size: rem(25);
        line-height: rem(27);
        color: #59c1c0;

        @include breakpoint('large') {
          max-width: 60%;
        }

        &:before {
          content: '“';
          display: block;
          @include position(absolute, 0 null null rem(-33));

          font-family: $platin;
          font-size: rem(62);
          line-height: rem(62);
          color: #59c1c0;

          @include breakpoint('large') {
            left: rem(-66);
          }
        }

        &:after {
          content: '“';
          display: block;
          @include position(absolute, null rem(-33) rem(-10) null);

          font-family: $platin;
          font-size: rem(62);
          line-height: rem(62);
          color: #59c1c0;
          @include transform(scale(-1, 1));

          @include breakpoint('large') {
            right: rem(-66);
          }
        }
      }
    }

    .easingslider {
      @include position(relative, null null null null);
      padding-bottom: rem(50);

      @include breakpoint('medium') {
        padding-bottom: rem(25);
      }

      .easingslider-slide {
        .easingslider-image {
          max-width: 100%;
        }
      }

      .easingslider-controls {
        @include position(absolute, null null rem(20) null);
        @include size(calc(100% - 60px) rem(60));
        @include margin(null rem(30));
        box-sizing: border-box;
        background: $herospace-dots;

        @include breakpoint('medium') {
          @include size(rem(140) rem(60));
          @include margin(0);
          bottom: rem(50);
          left: rem(-70);
        }

        @include breakpoint('large') {
          @include size(rem(160) rem(75));
          bottom: rem(50);
          left: rem(-80);
        }

        .easingslider-prev {
          display: block;
          @include position(absolute, rem(40) rem(60) null null);
          @include size(rem(20) rem(10));
          background: url($images_dir + 'submit.png') center center no-repeat;
          background-size: contain;
          @include transform(rotate(-180deg));

          @include breakpoint('large') {
            top: rem(48);
            left: rem(20);
          }
        }

        .easingslider-next {
          display: block;
          @include position(absolute, rem(40) rem(15) null null);
          @include size(rem(20) rem(10));
          background: url($images_dir + 'submit.png') center center no-repeat;
          background-size: contain;

          @include breakpoint('large') {
            top: rem(48);
            right: rem(20);
          }
        }
      }
    }

    iframe {
      &.youtube {
        width: 100%!important;
        height: rem(440)!important;
      }

      &.instagram-media {
        width: 100%!important;
      }
    }

    img {
      width: 100%!important;
      height: auto!important;
    }

    .wp-caption {
      @include position(relative, null null null null);
      width: 100%!important;
      @include margin(null null rem(25));

      img {
        width: 100%!important;
        height: auto!important;
      }

      .wp-caption-text {
        //@include position(absolute, null null 0 0);
        @include size(100% auto);
        //@include padding(rem(24) rem(20) rem(20));
        @include padding(rem(10) null null);
        //background: rgba(26, 26, 26, 1);
        box-sizing: border-box;

        font-family: $roboto;
        font-size: rem(13);
        line-height: rem(13);
        color: rgba(0, 0, 0, 0.8);
      }
    }
  }

  &__right {
    @include padding(rem(30) null null);

    @include breakpoint('medium') {
      float: left;
      @include size(rem(300) auto);
      @include padding(0 null null);
      display: none;
    }

    @include breakpoint('large') {
      display: block;
    }

    .tptn_posts {
      h3 {
        @include padding(0 rem(30) rem(30));

        font-family: $mono;
        font-size: rem(30);
        color: #2c2c2c;

        &:before {
          @include position(relative, rem(-8) null null rem(-4));

          content: '5';
          font-family: $platin-semibold;
          font-size: rem(18);
          color: #2c2c2c;
        }

        &:after {
          @include position(relative, rem(-8) rem(-10) null null);

          content: 'Las más leidas';
          font-family: $platin;
          font-size: rem(16);
          font-weight: 100;
          font-style: italic;
          color: #2c2c2c;
        }
      }

      ul {
        @include padding(null null rem(30));

        li {
          @include padding(rem(30));
          background: white;
          @include transition(all 0.3s ease-in-out);

          &:hover {
            background: #59c1c0;

            .tptn_link {
              .tptn_title {
                color: white;
              }
            }

            .crp_author {
              color: #59c1c0;

              a {
                color: white;
              }
            }
          }

          .tptn_link {
            text-decoration: none;

            .tptn_title {
              font-family: $platin;
              font-size: rem(16);
              line-height: rem(18);
              color: #1a1a1a;
            }
          }

          .crp_author {
            display: block;
            @include padding(rem(4) null null);

            color: white;
            @include transition(all 0.3s ease-in-out);

            a {
              @include position(relative, null null null rem(-18));
              font-family: $mono;
              font-size: rem(11);
              color: #1a1a1a;
              text-decoration: none;
            }
          }

          .tptn_list_count {
            font-family: $mono;
            font-size: rem(11);
            color: rgba(36, 36, 36, 0.5);

            &:after {
              @include padding(null null null rem(5));
              content: 'Vistas';
              font-family: $mono;
              font-size: rem(11);
              color: rgba(36, 36, 36, 0.5);
            }
          }
        }
      }
    }
  }
}
