.article {
  @include padding(0 rem(50));

  @include breakpoint('medium') {
    @include clearfix;
    @include padding(rem(50));
  }

  &__left {
    @include breakpoint('medium') {
      float: left;
      @include size(rem(250) auto);
    }

    &__time {
      @include padding(null null rem(30));
      text-align: right;

      &__text {
        font-family: $platin;
        font-size: rem(12);
        font-style: italic;
        color: rgba(51, 51, 51, 0.6);
      }
    }

    &__author {
      @include clearfix;

      &__data {
        float: right;
        @include padding(null rem(15) null null);

        text-align: right;

        &__name {
          //@include padding(null null rem(5));

          font-family: $mono;
          font-size: rem(14);
          color: #333;
        }

        &__twitter {
          font-family: $mono;
          font-size: rem(12);
          color: #59c1c0;
        }

        &__email {
          //@include padding(rem(5) null null);
          font-family: $mono;
          font-size: rem(12);
          color: rgba(35, 35, 35, 0.2);
        }
      }

      &__image {
        float: right;
        @include size(rem(40));
        border-radius: 100%;
        overflow: hidden;

        img {
          width: 100%;
        }
      }
    }

    &__tags {
      @include padding(rem(40) null);

      &__list {
        @include clearfix;

        &__item {
          float: right;

          a {
            font-family: $mono;
            font-size: rem(12);
            color: rgba(35, 35, 35, 0.5);
          }

          span {
            @include padding(null rem(2));
            display: inline-block;

            font-family: $mono;
            font-size: rem(12);
            color: rgba(35, 35, 35, 0.5);
          }

          &:first-child {
            span {
              display: none;
            }
          }
        }
      }
    }

    &__share {
      @include clearfix;
      border-top: rem(1) solid #ededed;

      &__link {
        float: right;
        @include size(rem(66));
        background: #59c1c0;
      }
    }
  }

  &__center {
    @include padding(rem(40) null null);

    @include breakpoint('medium') {
      float: left;
      @include size(calc(100% - 250px) auto);
      @include padding(0  null null rem(50));
      box-sizing: border-box;
    }

    @include breakpoint('large') {
      @include size(calc(100% - 550px) auto);
      @include padding(0  rem(80) null rem(80));
    }

    h3 {
      @include padding(null null rem(35));
      font-family: $platin-semibold;
      font-size: rem(22);
      line-height: rem(28);
      color: #1a1a1a;
    }

    p {
      @include padding(null null rem(25));

      font-family: $platin;
      font-size: rem(15);
      line-height: rem(25);
      color: #1a1a1a;
    }
  }

  &__right {
    @include padding(rem(30) null null);

    @include breakpoint('medium') {
      float: left;
      @include size(rem(300) auto);
      @include padding(0 null null);
      display: none;
    }

    @include breakpoint('large') {
      display: block;
    }

    .tptn_posts {
      h3 {
        @include padding(0 rem(30) rem(30));

        font-family: $mono;
        font-size: rem(30);
        color: #2c2c2c;

        &:before {
          @include position(relative, rem(-8) null null rem(-4));

          content: '5';
          font-family: $platin-semibold;
          font-size: rem(18);
          color: #2c2c2c;
        }

        &:after {
          @include position(relative, rem(-8) rem(-10) null null);

          content: 'Las más leidas';
          font-family: $platin;
          font-size: rem(16);
          font-weight: 100;
          font-style: italic;
          color: #2c2c2c;
        }
      }

      ul {
        @include padding(null null rem(30));

        li {
          @include padding(rem(30));
          background: white;
          @include transition(all 0.3s ease-in-out);

          &:hover {
            background: #59c1c0;

            .tptn_link {
              .tptn_title {
                color: white;
              }
            }

            .crp_author {
              color: #59c1c0;

              a {
                color: white;
              }
            }
          }

          .tptn_link {
            text-decoration: none;

            .tptn_title {
              font-family: $platin;
              font-size: rem(16);
              line-height: rem(18);
              color: #1a1a1a;
            }
          }

          .crp_author {
            display: block;
            @include padding(rem(4) null null);

            color: white;
            @include transition(all 0.3s ease-in-out);

            a {
              @include position(relative, null null null rem(-18));
              font-family: $mono;
              font-size: rem(11);
              color: #1a1a1a;
              text-decoration: none;
            }
          }

          .tptn_list_count {
            font-family: $mono;
            font-size: rem(11);
            color: rgba(36, 36, 36, 0.5);

            &:after {
              @include padding(null null null rem(5));
              content: 'Vistas';
              font-family: $mono;
              font-size: rem(11);
              color: rgba(36, 36, 36, 0.5);
            }
          }
        }
      }
    }
  }
}
