/* ==========================================================================
	Imports
/* ========================================================================== */
@import 'reset', 'variables', 'mixin', 'fonts';
@import "bourbon/bourbon";
@import 'components/header',
        'components/overlay-menu',
        'components/herospace',
        'components/footer',
        'components/change',
        'components/think',
        'components/camping',
        'components/news',
        'components/domingo',
        'components/article',
        'components/list',
        'components/banners',
        'components/pagination',
        'components/related-post',
        'components/comments';

@import 'pages/category',
        'pages/article';

/* ==========================================================================
	Base
/* ========================================================================== */

html, body {
  overflow-x: hidden;
  @include user-select(none);
}

body {
  background: $color-body;

  &.single {
    background: white;

    .header {
      &__nav__list__item a {
        color: #1a1a1a;

        &:hover {
          @include breakpoint('large') {
            color: #59c1c0;
            @include transition(color 0.3s ease-in-out);
          }
        }
      }
    }
  }

  &.tag {
    .header {
      &__nav__list__item a {
        color: #1a1a1a;

        &:hover {
          @include breakpoint('large') {
            color: #59c1c0;
            @include transition(color 0.3s ease-in-out);
          }
        }
      }
    }

    .herospace {
      &__wrapper {
        background: white;
        background-image: none!important;
      }

      &__data__title {
        color: #1a1a1a;
      }

      &__data__description {
        color: #1a1a1a;
      }

      &--small {
        .article__data__author {
          color: #1a1a1a;
        }
      }
    }
  }

  &.category {
    background: white;
    .header {
      &__nav__list__item a {
        color: #1a1a1a;

        &:hover {
          @include breakpoint('large') {
            color: #59c1c0;
            @include transition(color 0.3s ease-in-out);
          }
        }
      }
    }

    .herospace {
      &__wrapper {
        background: white;
        background-image: none!important;
      }

      &__data__title {
        color: #1a1a1a;
      }

      &__data__description {
        color: #1a1a1a;
      }

      &--small {
        .article__data__author {
          color: #1a1a1a;
        }
      }
    }

    .article__data__content {
      border-right: 0.0625rem solid #f6f6f6;
      border-left: 0.0625rem solid #f6f6f6;
    }
  }

  &.category-hacer {
    .header__nav__list__item {
      &:nth-child(1) {
        a {
          color: #59c1c0;
        }
      }
    }
  }

  &.category-pensar {
    .header__nav__list__item {
      &:nth-child(2) {
        a {
          color: #59c1c0;
        }
      }
    }
  }

  &.category-explorar {
    .header__nav__list__item {
      &:nth-child(3) {
        a {
          color: #59c1c0;
        }
      }
    }
  }

  &.category-cambiar {
    .header__nav__list__item {
      &:nth-child(4) {
        a {
          color: #59c1c0;
        }
      }
    }
  }
}

.main {
  @include breakpoint('large') {
    padding-top: rem(80);
  }

  @include breakpoint('extra-large') {
    max-width: rem(1200);
    @include margin(0 auto);
  }
}
